<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>message List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body >
<div class="container">


    <div class="d-flex justify-content-center">

        <form class="jumbotron" style="margin: 50px">


            <textarea type="text" id="text" required="required" name="text" />

            <button style="float: right;margin-left: 10px" type="button" onclick="saveMesssge()" class="btn btn-primary">save </button>
            <div id="message"></div>

        </form>
    </div>


<ul class="list-group">
</ul>


</div>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script th:inline="javascript">
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCNd4wydhNBp9Tk-gNwuGJ_y6w9C5o8t3M",
        authDomain: "researchapp-e2260.firebaseapp.com",
        databaseURL: "https://researchapp-e2260.firebaseio.com",
        projectId: "researchapp-e2260",
        storageBucket: "researchapp-e2260.appspot.com",
        messagingSenderId: "884451188715"
    };
    firebase.initializeApp(config);
    // Get a reference to the database service
    var database = firebase.database().ref('/ListOfMessage');

    /*<![CDATA[*/
    database.on('value', function (snapshot) {
        listOfMessageElement=[];
      var  listOfMessageElement=snapshotToArray(snapshot);
        console.log(listOfMessageElement);
        listOfMessageElement.forEach(function (message) {
            $('.list-group').append("<li class='list-group-item d-flex justify-content-between align-items-center'>" + message.text + " <span class='badge badge-primary badge-pill'>"+message.sendAt+"</span></li>")
        });
    });
    /*]]>*/


    function snapshotToArray(snapshot) {
        var returnArr = [];
        snapshot.forEach(function(childSnapshot) {
            var item = childSnapshot.val();
            item.key = childSnapshot.key;

            returnArr.push(item);
        });

        return returnArr;
    };

   function saveMesssge(){
      var text= $('#text').val();
      console.log(text);

       $.ajax({
           type: "POST",
           url: "/messages",
           data: text,
           contentType: 'text/plain'
       },function (data) {
           $('#text').val('');
       });
    }
</script>
</body>
</html>